@import "../../styles/variables";
@import "../../styles/mixins";

.board-status-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.status-card {
  background-color: $gray;
  padding: 10px 40px;
  @include centerContent();
  flex-direction: column;
  gap: 10px;
  font-weight: $font-bold;
  border-radius: 5px;
  @media screen and (max-width: $breakpoint-md) {
    padding: 10px 30px;
  }
  .status-label {
    font-size: 15px;
    color: $text-dark;
  }
  .status-content {
    font-size: 25px;
    color: $text-dark;
    @media screen and (max-width: $breakpoint-md) {
      font-size: 20px;
    }
  }
}