$font-normal: 400;
$font-bold: 700;

$background-light: #FFFFFF;
$background-dark: #152938;
$orange: #FDA214;
$gray: #DFE7EC;
$blue: #6395B8;

$text-light: #7EAFC8;
$text-dark: #304859;

$breakpoint-lg: 1400px;
$breakpoint-md: 1000px;
$breakpoint-sm: 600px;