@import "../../styles/variables";
@import "../../styles/mixins";

.game-background {
  background-color: $background-light;

  .game-content {
    width: 40%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    @include centerContent();
    flex-direction: column;
    gap: 80px;

    @media screen and (max-width: $breakpoint-lg) {
      width: 60%;
    }

    @media screen and (max-width: $breakpoint-md) {
      width: 80%;
      padding: 10px;
    }

    @media screen and (max-width: $breakpoint-sm) {
      width: 90%;
      padding: 5px;
    }
  }
}