@import "../../styles/variables";
@import "../../styles/mixins";

.game-board-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 70%;
  @media screen and (max-width: $breakpoint-sm) {
    width: 80%;
  }
  &.grid-size-4 {
    .memory-tile {
      height: 100px;
      width: 100px;
      @media screen and (max-width: $breakpoint-md) {
        height: 80px;
        width: 80px;
        font-size: 25px;
      }
      @media screen and (max-width: $breakpoint-sm) {
        height: 60px;
        width: 60px;
      }
    }
  }
  &.grid-size-6 {
    .memory-tile {
      height: 80px;
      width: 80px;
      @media screen and (max-width: $breakpoint-md) {
        font-size: 30px;
        height: 60px;
        width: 60px;
      }
      @media screen and (max-width: $breakpoint-sm) {
        height: 40px;
        width: 40px;
        font-size: 20px;
      }
    }
  }
  .memory-tile {
    border-radius: 50%;
    background-color: $text-dark;
    @include centerContent(); 
    cursor: pointer;
    font-size: 40px;
    font-weight: $font-bold;
    color: white;
    transition: all 0.2s ease-out;
    &.memory-tile-opened {
      background-color: $orange;
    }
    &.memory-tile-discovered {
      background-color: $light-gray;
      cursor: default;
    }
  }
}